<h1 class="text-3xl font-bold text-center text-purple-500 mb-4">Questions</h1>
<div class="container" style="margin-top: 2%">
  <div *ngFor="let question of questions" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card">
    <div class="p-5">
      <a>
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Question Cours</h5>
        <p>{{question.cours.titre}}</p>
      </a>
      <a>
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Question Title</h5>
        <p>{{question.questionTitle}}</p>
      </a>
      <a>
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">First Option</h5>
        <p>{{question.option1}}</p>
      </a>
      <a>
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Second Option</h5>
        <p>{{question.option2}}</p>
      </a>
      <a>
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Third Option</h5>
        <p>{{question.option3}}</p>
      </a>
      <a>
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Right Answer</h5>
        <p>{{question.rightAnswer}}</p>
      </a>
      <a>
        <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Difficulty Level</h5>
        <p>{{question.difficultyLevel}}</p>
      </a>
    </div>
    <div class="buttons">
      <button style="background-color: #6B3FA0;"  class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Edit
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
        </svg>
      </button>
      <button style="background-color: #B8001F;" class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Delete
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
        </svg>
      </button>
    </div>
  </div>
</div>
