<div class="container" style="margin-top: 2%">
  <div *ngFor="let question of questions" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-200 card dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Course Title</h3>
      <p class="mb-4 text-sm text-gray-700 dark:text-gray-300">{{question.cours.titre}}</p>

      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Question</h3>
      <p class="mb-4 text-sm text-gray-700 dark:text-gray-300">{{question.questionTitle}}</p>

      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Options</h3>
      <ul class="mb-4 list-disc list-inside text-sm text-gray-700 dark:text-gray-300">
        <li>Option 1: {{question.option1}}</li>
        <li>Option 2: {{question.option2}}</li>
        <li>Option 3: {{question.option3}}</li>
      </ul>

      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Right Answer</h3>
      <p class="mb-4 text-sm text-green-600 dark:text-green-400">{{question.rightAnswer}}</p>

      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Difficulty Level</h3>
      <p class="text-sm text-blue-600 dark:text-blue-400">{{question.difficultyLevel}}</p>
    </div>

    <!-- Action Buttons -->
    <div class="buttons p-4">
      <button (click)="toModify(question.id)" class="edit-btn inline-flex items-center px-4 py-2 mr-2 text-sm font-medium text-white rounded-lg focus:outline-none focus:ring-4">
        Edit
        <svg class="w-5 h-5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path d="M4 21v-4m0 0L12 4l4 4-8 13H4zm8-13l-8 8v4h4l8-8m0 0l4 4-8 8" />
        </svg>
      </button>
      <button class="delete-btn inline-flex items-center px-4 py-2 text-sm font-medium text-white rounded-lg focus:outline-none focus:ring-4">
        Delete
        <svg class="w-5 h-5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path d="M6 6h12m-9 6v6m6-6v6M4 6h16M9 6V4h6v2" />
        </svg>
      </button>
    </div>
  </div>
</div>
