<!-- cours-questions.component.html -->
<div class="container">
  <h2 class="title">Available Lecons</h2>

  <div class="button-container">
    <button (click)="addLecon(cours.id)" type="button" class="add-button">
      Add Lecon
    </button>
  </div>

  <ul class="course-list">
    <li *ngFor="let lecon of Lecons" class="course-item">
      <!-- Display the course title -->
      <div class="course-info">
        <h3>{{ lecon.titre }}</h3>
      </div>

      <div class="button-container">
        <!-- Button to view course questions -->
        <button class="view-button" (click)="LeconDetails(lecon.id)">
          View Contenu
        </button>

        <!-- Button to edit course -->
        <button class="edit-button" (click)="modifyLecon(lecon.id)">
          Edit
        </button>

        <!-- Button to delete course -->
        <button class="delete-button" (click)="deleteLecon(lecon.id)">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
