<div class="container">
  <aside class="sidebar">
    <h4>Leçons</h4>
    <ul>
      <li
        *ngFor="let lecon of leconList"
        (click)="selectLecon(lecon, lecon.id)"
        [class.active]="lecon === selectedLecon"
        [attr.aria-label]="lecon.titre">
        {{ lecon.titre }}
      </li>
    </ul>
  </aside>


  <div class="main-content">
    <div class="content-box">
      <div class="content-area">
        <div *ngIf="selectedLecon; else noLessons">
          <h3 class="lesson-title">{{ selectedLecon.titre }}</h3>
          <div class="content-list">
            <div *ngFor="let contenu of contenuList" class="content-item">
              <h5 class="content-title">{{ contenu.titre }}</h5>
              <div class="content-description" [innerHTML]="getSafeDescription(contenu.description)"></div>
            </div>
          </div>
        </div>
        <ng-template #noLessons>
          <p class="no-lessons">Aucune leçon n'est disponible pour ce cours.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
