<form (ngSubmit)="onSubmit()" class="container">
  <h1 class="title">Add Cours</h1>
  <div class="mb-5">
    <label for="titre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
    <input [(ngModel)]="cours.titre" name="titre" id="titre" type="text" class="form-input" placeholder="Titre" required />
  </div>
  <div class="mb-5">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
    <textarea name="description" [(ngModel)]="cours.description" id="description" rows="4" class="form-textarea" placeholder="Description"></textarea>
  </div>
  <button type="submit" class="add-button">Submit</button>
</form>
<router-outlet></router-outlet>
