h3 {
  color: #1F316F;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 2%;
  font-size: 22px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.form-group,
.form-goup {
  margin-bottom: 15px;
}

label {
  color: #1F316F;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

p.form-control {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  color: #495057;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #1F316F;
  outline: none;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #1F316F;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #218838;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}
