<div class="container">
  <h3 class="title">Add Contenu</h3>
  <div class="formulaire">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <mat-form-field appearance="fill">
          <mat-label>Titre</mat-label>
          <input
            matInput
            placeholder="Titre"
            type="text"
            [(ngModel)]="contenu.titre"
            name="titre"
            id="titre"
            required
          />
        </mat-form-field>
      </div>
      <div class="mb-5">
        <mat-form-field appearance="fill">
          <mat-label>Contenu</mat-label>
          <textarea
            matInput
            placeholder="Contenu"
            [(ngModel)]="contenu.description"
            name="contenu"
            id="contenu"
            rows="4"
            required
          ></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" class="add-button">Submit</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
