<!-- cours-questions.component.html -->
<div class="container">
  <h2 class="title">Available Courses</h2>

  <div class="button-container">
    <button (click)="addContenu()" type="button" class="add-button">
      Add Contenu
    </button>
  </div>

  <ul class="course-list">
    <li *ngFor="let contenu of content" class="course-item">
      <!-- Display the course title -->
      <div class="course-info">
        <h3>{{ contenu.titre }}</h3>
        <p>{{ contenu.contenu }}</p>
      </div>

      <!-- Button container with View, Edit, and Delete buttons -->
      <div class="button-container">

        <!-- Button to edit course -->
        <button class="edit-button" (click)="modifyContenu(contenu.id)">
          Edit
        </button>

        <!-- Button to delete course -->
        <button class="delete-button" (click)="deleteContenu(contenu.id)">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
