/* Font and General Body Styling */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Header Styling */
header {
  background-color: #2E073F; /* Override the default Angular Material primary color */
  margin: 0;
  padding: 0;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #2E073F;
}

.logo img {
  max-width: 140px; /* Increased logo size */
}

.spacer {
  flex-grow: 1; /* This will push the navigation to the right */
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-list li {
  margin-left: 2rem;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-list li a::after {
  content: '';
  display: block;
  height: 2px;
  background: #d3c0e1;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  transition: width 0.3s ease;
}

.nav-list li a:hover::after {
  width: 100%;
}

.nav-list li a:hover {
  color: #d3c0e1;
  transform: translateY(-2px);
}

/* Hero Section Styling */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  background-color: #F2F2F2;
  width: 100%;
  min-height: calc(100vh - 140px); /* Adjusted height to account for header and footer */
}

.hero-content {
  flex-basis: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.hero-content p {
  margin-bottom: 2.5rem;
  color: #666;
}

.cta-button {
  display: inline-block;
  background-color: #2E073F;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #2E073F;
  transform: scale(1.05);
}

.hero-image {
  flex-basis: 45%;
  text-align: right;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* Footer Styling */
footer {
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #2E073F;
  color: #fff;
  padding: 1.5rem;
  margin-top: -5%;
  text-align: center;
}
