<header>
  <nav>
    <div class="logo">
      <img src="assets/images/Syntax.png" alt="Syntax Logo">
    </div>
    <ul>
    </ul>
  </nav>
</header>

<main>
  <section class="hero">
    <div class="hero-content">
      <h1>Plateforme Interactive pour Développeurs</h1>
      <p>Explorez, apprenez et créez avec notre plateforme interactive.</p>
      <a routerLink="sign-in" class="cta-button">Commencer</a>
    </div>
    <div class="hero-image">
      <img src="assets/images/homepage.png" alt="Developers at Work">
    </div>
  </section>
</main>

<footer>
  <p>&copy; 2024 Syntax. Tous droits réservés.</p>
</footer>
