<header>
  <mat-toolbar color="primary">
    <div class="logo">
      <img src="assets/images/Syntax.png" alt="Syntax Logo" class="logo-img">
    </div>
    <span class="spacer"></span>
    <ul class="nav-list">
      <!-- Add navigation links here if necessary -->
    </ul>
  </mat-toolbar>
</header>

<main>
  <section class="hero">
    <div class="hero-content">
      <h1>Plateforme Interactive pour Développeurs</h1>
      <p>Explorez, apprenez et créez avec notre plateforme interactive.</p>
      <a routerLink="sign-in" class="cta-button mat-raised-button mat-primary">Commencer</a>
    </div>
    <div class="hero-image">
      <img src="assets/images/homepage.png" alt="Developers at Work">
    </div>
  </section>
</main>

<footer>
  <mat-toolbar color="primary" class="footer">
    <span>&copy; 2024 Syntax. Tous droits réservés.</span>
  </mat-toolbar>
</footer>
