<div class="users-container bg-white rounded-lg shadow-lg p-6 mx-auto mt-8 max-w-4xl">
  <h2 class="text-2xl font-semibold text-[#2E073F] text-center mb-4">Liste des utilisateurs</h2>

  <div *ngIf="utilisateurs.length === 0; else userList">
    <p class="text-gray-600 text-center">Aucun utilisateur trouvé.</p>
  </div>

  <ng-template #userList>
    <table class="users-table w-full table-auto border-collapse mt-6">
      <thead class="bg-[#4a2569] text-white">
      <tr>
        <th class="px-6 py-4 text-left">ID</th>
        <th class="px-6 py-4 text-left">Nom</th>
        <th class="px-6 py-4 text-left">Prénom</th>
        <th class="px-6 py-4 text-left">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let utilisateur of utilisateurs" class="odd:bg-gray-50 even:bg-gray-100 hover:bg-gray-200">
        <td class="px-6 py-4">{{ utilisateur.id }}</td>
        <td class="px-6 py-4">{{ utilisateur.nom }}</td>
        <td class="px-6 py-4">{{ utilisateur.prenom }}</td>
        <td class="px-6 py-4">{{ utilisateur.email }}</td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
