<div class="container">
  <h2 class="title">Available Courses</h2>

  <div class="button-container">
    <button (click)="addCours()" type="button" class="add-button">
      Add Course
    </button>
  </div>

  <ul class="course-list">
    <li *ngFor="let course of courses" class="course-item">
      <!-- Display the course title -->
      <div class="course-info">
        <h3>{{ course.titre }}</h3>
        <p>{{ course.description }}</p>
      </div>

      <!-- Button container with View, Edit, and Delete buttons -->
      <div class="button-container">
        <!-- Button to view course questions -->
        <button class="view-button" (click)="coursDetails(course.id)">
          View Lecons
        </button>

        <!-- Button to edit course -->
        <button class="edit-button" (click)="modifyCours(course.id)">
          Edit
        </button>

        <!-- Button to delete course -->
        <button class="delete-button" (click)="deleteCours(course.id)">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
