<div class="container">
  <div *ngFor="let certificate of myCertificates; let i = index" class="certificate-wrapper">
    <div class="certificate-container">
      <div class="certificate-header">
        <div class="header-line"></div>
        <img src="assets/images/Syntax.png" alt="Logo" class="certificate-logo">
        <h1 class="certificate-title">Certificate of Completion</h1>
        <div class="header-line"></div>
      </div>

      <div class="certificate-body">
        <p class="certifies-text">This certifies that</p>
        <h2 class="recipient-name">{{ certificate.utilisateur.nom }} {{ certificate.utilisateur.prenom }}</h2>
        <p class="completion-text">has successfully completed the online course:</p>
        <h3 class="course-title">{{ certificate.courses.titre }}</h3>
        <p class="description">Description: {{ certificate.courses.description }}</p>

        <div class="course-details">
          <p>Course: {{ certificate.courses.titre }}</p>
          <p>Date of Completion: {{ certificate.dateObtention | date: 'MMMM d, y' }}</p>
        </div>
      </div>

      <div class="certificate-footer">
        <div class="footer-line"></div>
        <div class="signature">
          <div class="signature-line"></div>
          <p>Lahmani Mouaad</p>
          <p>CEO, Syntax</p>
        </div>
        <div class="footer-line"></div>
      </div>
    </div>

    <div class="download-button-container">
      <button (click)="downloadCertificate(i)" class="download-button">
        Download Certificate
      </button>
    </div>

    <!-- Display a message if on mobile -->
    <p *ngIf="isMobile" class="mobile-warning">
     We are sorry you cannot download the certificate from a mobile device. Please use a Laptop.
    </p>
  </div>
</div>
