<div class="container">
<div *ngFor="let certificate of myCertificates" style="background-color: #6B3FA0;" class="certificate-container" >
  <div class="certificate-header">
    <h1>Certificate of Completion</h1>
    <p style="color: white">This certifies that</p>
  </div>

  <div class="certificate-body">
    <!-- User Details -->
    <h2 style="color: white">{{ certificate.utilisateur.nom }} {{ certificate.utilisateur.prenom }}</h2>
    <p style="color: white">has successfully completed the course</p>

    <!-- Course Details -->
    <h3 style="color: white">{{ certificate.courses.titre }}</h3>
    <p style="color: white">Description: {{ certificate.courses.description }}</p>

    <!-- Additional Course Information -->
    <p style="color: white">Course ID: {{ certificate.courses.titre }}</p>
    <p style="color: white">Date of Completion: {{ certificate.dateObtention | date: 'MMMM d, y' }}</p>
  </div>

  <div style="display: flex; justify-content: center" class="certificate-footer">
    <div class="signature">
      <p style="color: white">_______________________</p>
      <img style="width: 20%; margin-left: 40%" src="assets/images/Syntax.png">
    </div>
  </div>
</div>

</div>
