<form (ngSubmit)="onSubmit()" class="container max-w-md mx-auto bg-white shadow rounded-lg p-6">
  <h1 class="text-center text-2xl font-bold mb-6 text-primary">Edit Contenu</h1>
  <div class="form-group mb-5">
    <label for="titre" class="block mb-2 text-sm font-medium text-gray-900">Titre</label>
    <input
      [(ngModel)]="contenu.titre"
      name="titre"
      id="titre"
      type="text"
      placeholder="Titre"
      class="text-input w-full p-2.5 border border-gray-300 rounded-lg focus:outline-none focus:border-primary"
      required
    />
  </div>
  <div class="form-group mb-5">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
    <textarea
      [(ngModel)]="contenu.description"
      name="description"
      id="description"
      rows="4"
      placeholder="Description"
      class="text-input w-full p-2.5 border border-gray-300 rounded-lg focus:outline-none focus:border-primary"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn-submit w-full sm:w-auto">Submit</button>
</form>
<router-outlet></router-outlet>
