<div class="quiz-container">
  <div class="header-section">
    <div class="header-content">
      <h1>Admin Quiz Management</h1>
      <p>Create, view, and manage your quizzes</p>
    </div>

    </div>
  </div>

  <div class="create-quiz-container">
    <button class="create-quiz-button" (click)="createQuiz()">
      <i class="fas fa-plus"></i> Create New Quiz
    </button>
  </div>

  <div class="quiz-grid">
    <div *ngFor="let quiz of quizList" class="quiz-card">
      <div class="card-content">
        <div class="quiz-info">
          <h3 class="quiz-title">{{ quiz.titre }}</h3>
          <p class="quiz-description">Number of Questions: {{ quiz.questions.length }}</p>
        </div>
        <div class="card-footer">
          <button class="view-button" (click)="Details(quiz.id)">
            <i class="fas fa-eye"></i> View Details
          </button>
          <button class="delete-button" (click)="deleteQuiz(quiz.id)">
            <i class="fas fa-trash"></i> Delete
          </button>
        </div>
      </div>
    </div>
  </div>
