<form (ngSubmit)="onSubmit()" class="form-container">
  <h1>Add Question</h1>

  <div class="form-row">
    <!-- Left Column -->
    <div class="form-group">
      <label for="courseTitle">Cours</label>
      <select [(ngModel)]="selectedCourse" (change)="onCourseSelect(selectedCourse)" id="courseTitle" name="courseTitle" class="form-control">
        <option value="" disabled selected>Select Cours</option>
        <option *ngFor="let title of coursTitles" [ngValue]="title">{{ title.titre }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="option1">Option 1</label>
      <input [(ngModel)]="question.option1" name="option1" id="option1" type="text" placeholder="Option 1" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="option2">Option 2</label>
      <input [(ngModel)]="question.option2" name="option2" id="option2" type="text" placeholder="Option 2" class="form-control"/>
    </div>
  </div>

  <div class="form-row">
    <!-- Right Column -->
    <div class="form-group">
      <label for="option3">Option 3</label>
      <input [(ngModel)]="question.option3" name="option3" id="option3" type="text" placeholder="Option 3" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="rightAnswer">Réponse correcte</label>
      <input [(ngModel)]="question.rightAnswer" name="rightAnswer" id="rightAnswer" type="text" placeholder="Réponse correcte" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="difficultyLevel">Niveau de difficulté</label>
      <select [(ngModel)]="question.difficultyLevel" name="difficultyLevel" id="difficultyLevel" class="form-control">
        <option value="" disabled selected>Select Difficulty</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
